body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sign-out-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card > img {

  height: 20rem;
  width: 30rem;
}

.login-form{
  display:flex;
  width:50%;
  margin-left:25%;
  margin-top:2%;
}

header{
  background-color: #85BDA6;
  padding-top:1%;
  padding-bottom:1%;    
}

h1{
  display:flex;
  justify-content:center;
  font-size:30rem;
}

.welcomeback{
  margin-top:10%;
}

.buttonsubmit{
  background-color:#D7FFF1;
  padding-left:2%;
  padding-right:2%;
}

.buttonswitch{
  background-color:#D7FFF1;
  padding-left:2%;
  padding-right:2%;
}
.buttonswitch2{
  display:flex;
  background-color:#D7FFF1;
  padding-left:2%;
  padding-right:2%;
  margin-left:1%;
}
.buttonswitchdiv{
  display:flex;
justify-content:center;
margin-top:2%;
}
footer{
  display:flex;
  background-color: #85BDA6;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  padding-bottom:3%;
  padding-top:3%;

}
.footertext{
  display:flex;
  justify-content:center;
  font-size:1.5rem;
 
}

.articlelinktext{
  display:flex;
  justify-content:center;
  margin-top:2%;
}

.savearticleform{
  width:70%;
  margin-left:15%;
}
.articlecard{
  display:flex;
  width:60%;
  margin-left:20%;
  margin-top:2%;
}

